.buttons {
	margin: 0 0 5px 0;
}
.button-pick {
	background-color: lightgrey !important;
	border: none !important;
	color: black !important;
	border-radius: 0px !important;
}
.button-pick:hover {
	background-color: rgb(91, 89, 89) !important;
	color: white !important;
}
.active {
	background-color: rgb(91, 89, 89) !important;
	color: white !important;
}
.user-pick-list {
	max-width: 600px;
	margin: 0 auto;
}
.result {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 1px solid rgb(91, 89, 89);
	margin: 0 auto;
	margin-top: 30px;
	height: 400px;
	width: 400px;
	background-color: white;
	border-radius: 1000px;
}
